.navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1.5rem;
	background-color: #333;
	color: white;
}

.navbar-logo {
	flex: 1;
	text-align: center;
}

.logo-img {
	height: auto;
	max-height: 50px;
	display: block;
	margin: 0 auto;
}

.menu-icon {
	background-color: transparent;
	border: none;
	color: white;
	font-size: 1.5rem;
	cursor: pointer;
}

.user-info {
	display: flex;
	align-items: center;
}

.user-text {
	margin-right: 0.5rem;
}

.bold-name {
	font-weight: bold;
}

.italic-role {
	font-style: italic;
}

.logout-button {
	margin-left: 1rem;
	background-color: #38b2ac;
	color: white;
	border: none;
	padding: 0.5rem 1rem;
	cursor: pointer;
	border-radius: 0.25rem;
}
